body {
  background-color: #888;
}

main {
  max-width: 400px;
  margin: 50px auto;
  border-radius: 4px;
  text-align: center;
  padding: 15px 0;
  background-color: #fff;
  position: relative;
}

#stickers>img {
  height: 40px;
}

#head>img {
  height: 200px;
}

/* Put on stickers! */
#eyes-01 {
  /* position: absolute; */
  top: 80px;
  left: 155px;
}

#mouth-01 {
  /* position: absolute; */
  top: 130px;
  left: 155px;
}

#brow-01 {
  /* position: absolute; */
  top: 60px;
  left: 150px;
}

#stickers>img{
  height: 40px;
}
@media (max-width: 520px){

  #mouth-01{
    position: relative;
    top: -150px;
    left: 100px;
  }

  #eyes-01{
    position: relative;
    left: 100px;
    top: -170px;
  }

  #brow-01{
    position: relative;
    top: -275px;
    left: -105px;
  }

  #mouth-03{
    position: relative;
    bottom: 185px;
    left: -110px;
  }
}

@media (min-width: 520px){
  #eyes-02{
    position: relative;
    bottom: 170px;
  }

  #brow-02{
    position: relative;
    bottom: 315px;
    left: 105px;
  }

  #mouth-04{
    position: relative;
    bottom: 190px;
    left: 110px;
  }

  #mouth-03{
    position: relative;
    bottom: 180px;
    right: 100px;
  }
}
